@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  font-style: normal;
  color: #00031a;
}